{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template alert-danger">
                    <h1>
                        Oops!</h1>

                    <h2>
                        {{ status_code }} {{ status_text }}</h2>
                    <div class="error-details">
                        Something went wrong...
                    </div>
                    <div class="error-actions">
                        <a href="{{ path('homepage') }}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                            Take Me Home </a><a href="#" class="btn btn-default btn-lg"><span class="octicon-home"></span> Contact Support </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}